@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;700&display=swap');

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .hero-img{
        float: unset;
    }
    
    h1{
        text-align: start !important;
        font-size: 2.5rem !important;
    }
    h2{
    font-size: 1rem !important;
    }
    h3{
        text-align: justify !important;
        font-size: .9rem !important;
        line-height: 1.2 !important;
    }
    h6{
        text-align: start !important;
        font-size: .7rem !important;
    }
    h5{
        text-align: start !important;
        font-size: .9rem !important;
    }
    }

@media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        height: 130vh !important;
    }
    .heading{
        margin-top: 1rem !important;
    }       
    .hero-img{
    float: unset;
}

h1{
    text-align: start !important;
    font-size: 2rem !important;
    line-height: 1 !important;
}
h2{
font-size: 1.7rem !important;
line-height: 0.8 !important;
}
h3{
    text-align: justify !important;
    font-size: 1.3rem !important;
    line-height: 1.3  !important;
}
h6{
    text-align: start !important;
    font-size: 1rem !important;
   
}
h5{
    text-align: start !important;
    font-size: 1.2rem !important;
}
p.paragraph{
    font-size: .7rem !important;
    line-height: 1 !important;
}
.who-we-are{
    height: auto !important;
}
.text{
    height: 5rem !important;
    font-size: 1.3rem !important;
}
}
@media only screen and (min-width: 633px) and (max-width: 767px){
    .heading{
        margin-top: 4rem !important;
    }       
    .text{
        font-size: 1rem !important;
    }
    .text1{
        font-size: .9rem !important;
    }
    .container{
        max-width: 90vw !important;
    }
    .label{
        padding-top: 0rem !important;
        text-align: left;
        font-size: 1.2rem !important;
    }
    .vcenter-item{
        width:126% !important
    }
    h1{
        text-align: start !important;
        font-size: 2.1rem !important;
        line-height: 1 !important;
    }
 h2{
    font-size: 1.2rem !important;
 }
    h3{
        text-align: justify !important;
        font-size: 1rem !important;
        line-height: 1 !important;
    }
    h6{
        text-align: start !important;
        font-size: .6rem !important;
    }
    h5{
        text-align: start !important;
        font-size: .9rem !important;
    }
    p.paragraph{
        font-size: .9rem !important;
    }
    .navbar a{
        font-size: .7rem !important;
    }
    .box{
        width: 90% !important;
    } 
    .contain{
        width: 90vw;

    }  
    .who-we-are{
        height: auto !important;
    }
    }
@media only screen and (min-width: 512px) and (max-width: 632px){
    .heading{
        margin-top: 2rem !important;
    }       
    .text{
            font-size: 0.9rem !important;
            height: 4rem !important;
        }
        .text1{
            font-size: .7rem !important;
        }
        .text2{
            font-size: .6rem !important;
        }
        .container{
            max-width: 90vw !important;
        }
        .label{
            padding-top: 0rem !important;
            text-align: left;
            font-size: 1.2rem !important;
        }
       
        h1{
            text-align: start !important;
            font-size: 2rem !important;
        }
     h2{
        font-size: 1rem !important;
     }
        h3{
            text-align: justify !important;
            font-size: .9rem !important;
        }
        h6{
            text-align: start !important;
            font-size: .6rem !important;
        }
        h5{
            text-align: start !important;
            font-size: .9rem !important;
        }
        p.paragraph{
            font-size: .9rem !important;
        }
        .contain{
            max-width: 100% !important; 
        }
        .navbar a{
            font-size: .7rem !important;
        }
        .box{
            width: 90% !important;
        }  
        .contain{
            width: 90vw;
            overflow: auto;
        }  
        .carousel-inner{
            height: auto  !important;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .arrow{
            margin-top: 20px;
        }
        .arrow1{
            margin-top: 20px;
        }
        .button4{
            width: 100% !important;
        }
        .who-we-are{
            height: auto !important;
        }
        }
@media only screen and (min-width: 357px) and (max-width: 511px){
   
    .heading{
        margin-top: 7rem !important;
    }       
    .heading1{
        font-size: 1.5rem !important;
    }
    .text{
                font-size: .9rem !important;
                height: 5.5rem !important;
            }
            .text1{
                font-size: .7rem !important;
                height: 2.5rem !important;
            }
            .text2{
                font-size: .7rem !important;
            }
            .container{
                max-width: 90vw !important;
                
            }
            .label{
                padding-top: 0rem !important;
                text-align: left;
                font-size: 1.2rem !important;
            }

            h1{
                text-align: start !important;
                font-size: 1.3rem !important;
                line-height: 1.5 !important;
            }
         h2{
            font-size: 1.1rem !important;
         }
            h3{
                text-align: justify !important;
                font-size: 1rem !important;
            }
            h6{
                text-align: start !important;
                font-size: .6rem !important;
            }
            h5{
                text-align: start !important;
                font-size: .9rem !important;
            }
            .contain{
                max-width: 100% !important; 
                
            }
    
            .navbar a{
                font-size: .7rem !important;
            } 
            .box{
                width: 90% !important;
            } 
            .contain{
                width: 90vw;
                overflow: auto;
            }
            .carousel-inner{
                height: auto  !important;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .arrow{
                margin-top: 20px;
            }
            .arrow1{
                margin-top: 20px;
            }  
            .button4{
                width: 100% !important;
            }
            .who-we-are{
                height: auto !important;
            }
  
            ::-webkit-scrollbar {
                display: none;
            }
            .heading1{
                font-size: 1.2rem !important;
            }
            }
@media only screen and (min-width: 0px) and (max-width: 356px){
                .text{
                    font-size: 0.8rem !important;
                    height: 6rem !important;
                }
                .text1{
                    font-size: .7rem !important;
                    height: 3.5rem !important;
                }
                .text2{
                    font-size: .7rem !important;
                }
                .container{
                    max-width: 90vw !important;
                    display: block;
                }
                .label{
                    padding-top: 0rem !important;
                    text-align: left;
                    font-size: 0.8rem !important;
                }
             h1{
                font-size: 1.3rem !important;
                text-align: start !important;
                line-height: 25px !important;
             } 
             h2{
                font-size: .9rem !important;
                text-align: start !important;
             }
                h3{
                    text-align: start !important;
                    font-size: .9rem !important;
                    line-height: 20px !important;
                    }
                h5{
                    text-align: left !important;
                    font-size: .8rem !important;
                }
                h6{
                    text-align: start !important;
                    font-size: .6rem !important;    
                }
                .contain{
                    max-width: 100% !important; 
                }
                p.paragraph{
                    font-size: .8rem !important;
                    line-height: 15px !important;
                }
             
                .navbar a{
                    font-size: .7rem !important;
                    /* position: fixed !important; */
                  
                }
                .button4{
                    width: 100% !important;
                } 
          
                /* .slider1{
                    margin-top: 7rem !important;
                }
                .slider2{
                    margin-top: 3.5rem !important;
                }
               .slider3{
                    margin-top: 3.5rem !important;
                }
                .slider4{
                    margin-top: 7rem !important;
                }
                .slider5{
                    margin-top: 4rem !important;
                }
                .slider6{
                    margin-top: 5rem !important;
                } */
                .box{
                    width: 90% !important;
                } 
            .contain{
                width: 90vw;
                overflow: auto;
            }  
            .carousel-inner{
                height: auto  !important;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .arrow{ 
                margin-top: 20px;
            }
            .arrow1{
                margin-top: 20px;
            }

            /* div.scroll{
                position: fixed !important;
                bottom: 5rem !important;
            } */
            .who-we-are{
                height: auto !important;
            }
            .heading1{
                font-size: 1rem !important;
            }
        }

   